.form-label,
.form-text,
.form-control {
  font-size: 12px;
}
.buttonSignIn {
  font-size: 12px;
  width: 90px;
  border-radius: 5px;
}
.formContainer {
  height: 390px;
  border-radius: 3px;
  background-color: whitesmoke;
  border: 1px solid rgba(76, 107, 107, 0.856);
  box-shadow: rgba(64, 114, 112, 0.856) 0px 5px 15px;
}
.createClass {
  font-size: 11px;
  display: flex;
  justify-self: start;
}
.mainLogin {
  background: url(/public/images/2.jpg);
  background-size: cover;
  background-position: center;
}
