#my-tinerary {
  font-size: 15px;
}
#home,
#cities,
#login {
  font-size: 13px;
}
.logClass {
  font-size: 13px;
  width: 100px;
  border-radius: 6px;
  background-color: whitesmoke;
  box-shadow: rgba(64, 114, 112, 0.856) 0px 5px 15px;
}
